<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vt-IOSlib-SampleStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED00F0D01C58743600D70CCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED00F0E41C58743600D70CCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED00F0EF1C58743600D70CCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
